#wrap{
  margin:50px;
}

#map {
        height: 500px;
      }

#weather{
  /*background: black;*/
  width:85px;
  height:80px;
  position: absolute;
  z-index: 999;
  margin: 10px 80px;
}

.open > .dropdown-menu {
    z-index: 10000;
    left: 20px;
    top: 52px;
    padding: 6px;
}

.draw1,.draw2,.draw3,#dropdownMenu1,#start,#stop,#clearMap{
  margin:20px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
/*svg*/
.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#archuserstracks-table{
  display: none;
  height:200px;
  overflow: auto;
}
#all-tracks-table{
    height:200px;
  overflow: auto;
}
